SELECT * FROM WF_TASKHEAD WHERE ParameterValue = '0070178343' AND ID  ='B6E46D49-CBDB-4DC3-97E7-264A1BD37D31'
SELECT * FROM WF_TASKHEAD WHERE currentSenderUserID = 2093 AND
SELECT * FROM WF_TASKDETAIL WHERE TASKHEADID = 'B6E46D49-CBDB-4DC3-97E7-264A1BD37D31'